* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #c56464;
    font-family: "Helvetica", sans-serif;
  }
  
  .container {
    background-color: rgb(206, 52, 52);
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(250, 249, 249, 0.973);
    border-radius: 10px;
    color: white;
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
  }
  p{
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
  }
  label{
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #f1ebeb;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
    color: #69170c;
    outline: 1px solid rgb(236, 109, 109);
  }
  
  button {
    background-color: #69170c;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: white;
    color: #69170c;
    border: 1px solid #69170c;
    font-weight: 700;
  }
  
  #total {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }